asgiref==3.11.0
bleach==6.3.0
click==8.3.1
colorama==0.4.6
crispy-bootstrap5==2025.6
cssbeautifier==1.15.4
dj-database-url==3.1.0
Django==4.2.27
django-allauth==65.14.0
django-crispy-forms==2.5
django-summernote==0.8.20.0
djlint==1.36.4
EditorConfig==0.17.1
gunicorn==23.0.0
jsbeautifier==1.15.4
json5==0.13.0
packaging==26.0
pathspec==1.0.3
psycopg2-binary==2.9.11
PyYAML==6.0.3
regex==2026.1.15
six==1.17.0
sqlparse==0.5.5
tqdm==4.67.1
webencodings==0.5.1
whitenoise==6.7.0
